body {
  background-color: white;
  font-family: Helvetica, sans-serif;
  font-size: 62.5%;
}
a:link {
  text-decoration: none;
  color: magenta;
}
a:visited {
  text-decoration: none;
  color: magenta;
}
a:hover {
  text-decoration: underline;
  color: red;
}
div#navigation {
  text-align: center;
  font-size: 2em;
  margin-top: -50px;
}
div#navigation a {
  font-size: 1.2em;
}
div#user_nav {
  text-align: right;
  margin-right: 2em;
}

div#user_nav a {
  font-size: 2em;
}
div#header h1 {
  font-size: 9.5em;
  color: blue;
  letter-spacing: -5px;
  line-height: 0.75em;
  text-align: center;
  margin-top: 20px;
}
div#header h1 a {
  color: blue;
  text-decoration: none;
}

div#container {
  width: 800px;
  margin: 0 auto;
}

div#footer p {
  text-align: center;
  font-size: 2em;
  font-weight: lighter;
  letter-spacing: -2px;
}
h2.more_posts {
  font-size: 4.5em;
  letter-spacing: -3px;
  color: grey;
}
h3.other {
  font-size: 3em;
  letter-spacing: -2px;
  color: grey;
  margin-bottom: -7px;
}

div.expanded_post {
}
h2.link_title
{
  font-size: 3.5em;
  color: orange;
  letter-spacing: -3px;
  margin-bottom: -15px;
}
h2.link_title a
{
  color: orange;
}
h2.post_title
{
  font-size: 3.5em;
  color: red;
  letter-spacing: -3px;
  margin-bottom: -15px;
}
h2.post_title a
{
  color: red;
}
p { font-size: 1.5em; }
span { font-size: 1.5em; }
p.post_body {
  margin-top: -20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
p.link_body {
  margin-top: -20px;
  padding-left: 10px;
  padding-right: 10px;

}
p.admin_options {
  margin-top: 5px;
  margin-bottom: -7px;
}
p.admin_options a {
  font-size: 1.3em;
}
div.post_footer {
  background-color: #CCAADD;
  padding-left: 5px;
  padding-right: 5px;
}
h3.post_info {
  color: green;
  font-size: 2.5em;
  letter-spacing: -2.5px;
  margin-left: 15px;
  margin-top: -5px;
}
h3.post_topics {
  margin-top: -15px;
  font-size: 2em;
  word-spacing: 3px;
  color: brown;
}
div.more_posts {
  margin-top: -20px;
}
input[type="text"]{
  font-size: 2.5em;
  font-family: Helvetica, sans-serif
}
input[type="password"]{
  font-size: 2.5em;
}
textarea {
  font-size: 2em;
  font-family: Helvetica, sans-serif;
}

