<div id="main_listing">
  <!-- List five (configurable) posts/links, then just titles of the rest -->
    <% count = 0 %>
    <% @links.each do |link| %>
      <% count += 1 %>
      <% if count <= 5 then %>
        <%= render link %>
      <% else %>
        <h2 class="link_title"><%= link_to count.to_s() + '- ' + link.title, link %></h2>
      <% end %>
    <% end %>
    <br />
</div>
