<div id="main_listing">
  <!-- List five (configurable) posts/links, then just titles of the rest -->
    <% count = 0 %>
    <% @posts.each do |post| %>
      <% count += 1 %>
      <% if count < APPCFG['previewable_posts'].to_i then %>
        <%= render post %>
      <% elsif count == APPCFG['previewable_posts'].to_i then %>
        <%= render post %>
        <h2 class="more_posts">Older Posts</h2>
      <% else %>
        <h2 class="post_title"><%= link_to post.title, post %></h2>
      <% end %>
    <% end %>
    <br />
</div>
