<h2 class="more_posts">Kevin Beswick</h2>
<div id="about_container">
  <div id="avatar">
    <img src="http://en.gravatar.com/userimage/18139431/f0f3e9d325cd6cd177520dd9e2e48e1e.jpg?size=200" />
  </div>
  <div id="about_description">
    <p>
      Currently, I am Library Systems Assistant at <a href="http://www.laurentian.ca">Laurentian University</a>.
    </p>
    <p>
      Find me on:
    </p>
    <ul class="no_bullet">
      <li><a href="mailto:kevinbeswick00@gmail.com">Email</a></li>
      <li><a href="http://www.github.com/kbeswick">@kbeswick</a> on Github</li>
      <li><a href="http://www.twitter.com/kbeswick">@kbeswick</a> on Twitter</li>
      <li><a href="http://www.linkedin.com/in/kbeswick">Kevin Beswick</a> on Linkedin</li>
      <li>kbeswick on <a href="http://www.freenode.net">irc.freenode.net</a> (always in #evergreen)</li>
    </ul>
  </div>

  <p id="about">
    This blog is where I store my thoughts, ramblings, helpful tidbits of information, and anything else that may be of interest. Also, I plan on sharing some things that nobody will be particularly interested in, so buckle up, and get ready for the ride.<br /><br />
    You may notice there are some links on here as well. Sometimes I come by interesting things that I think others may be interested in. Sometimes I come by interesting things that I just forget about because I don't have time to read them at the given moment. 
    Really though, I post them because I want it to seem like I am producing more content than I actually am.<br /><br />
    Enjoy!
  </p>

</div>
